.footer {
	padding: 40px 0;
}

.footer_wrap {
	display: grid;
	grid-template-columns: 1fr 165px;
	-ms-align-items: center;
	align-items: center;
}

.footer_nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
}

.footer_nav ul li {
	font-size: 18px;
	font-weight: 600;
	margin-right: 50px;
}

.footer_nav ul li a {
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 2px;
	font-weight: 900;
	text-transform: uppercase;
	margin-right: 50px;
	color: #111;
	text-decoration: none;
}

.footer_socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}


.footer_socials li {
	margin-right: 30px;
	display: inline-block;
}

.footer_socials li:last-child {
	margin-right: 0;
}

.footer_socials li a:hover {
	filter: drop-shadow(2px 3px 4px red);
}

@media (max-width: 1050px) {
	.footer_nav ul li a {
		margin-right: 20px;
		letter-spacing: 2px;
	}

	.footer_nav ul li a:last-child {
		margin-right: 0;
	}

	.footer_nav ul li {
		margin-right: 20px;
	}

	.footer_nav ul {
		justify-content: center;
		margin-bottom: 30px;
	}
	.footer_wrap {
		grid-template-columns: 1fr;
	}
}


@media (max-width: 575.98px) {
	.footer_nav ul {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.footer_nav ul li a {
		margin: 0;
	}

	.footer_nav ul li {
		margin: 10px 0;
	}
}
